
/*=======
body
=========*/
body{
  background-color: #732727;
  color: black;
}

.jumbotron {
  text-align: center;
  color: red;
  text-shadow: 1px 1px 1px black;
  background-image: url("http://static1.squarespace.com/static/53835c67e4b0b3a648f0036d/t/539f889ee4b063c45911eaf6/1374002907458/IMG_4224-retouch.jpg");
}



hr {
  color: black;
}

.btn {
  background: grey;
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: inherit;
  font-size: 16px;
  padding: 5px 15px 5px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #f5e3bf;
}




#about-hide {
  display: none;
}

#about-food-hide {
  display: none;
}

/*==========
Header
============*/
.hero {
  background: url('../img/ramen.jpg') no-repeat center;
  background-size: conver;
  padding-top: 100px;
  height: 300px;
  max-width: 100%;
}


/*=========
list items
==========*/
.flexboxList{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.wait-text {
  margin-top: 100px;
  color: black;
}

#list {
  font-size: 18pt;
  font-weight: bold;
  color: black;
  padding-left: 3%;
}

.mdl-list__item{
  line-height: 24px;
}
#currentList{
  /*display:none;*/
}
