
/*=======
body
=========*/
body{
  background-color: #732727;
  color: black;
}

.jumbotron {
  text-align: center;
  color: red;
  text-shadow: 1px 1px 1px black;
  background-image: url("http://static1.squarespace.com/static/53835c67e4b0b3a648f0036d/t/539f889ee4b063c45911eaf6/1374002907458/IMG_4224-retouch.jpg");
}

form {
  margin-top: 100px;
}

.btn {
  background: #d9a88d;
  background-image: -webkit-linear-gradient(top, #d9a88d, #705242);
  background-image: -moz-linear-gradient(top, #d9a88d, #705242);
  background-image: -ms-linear-gradient(top, #d9a88d, #705242);
  background-image: -o-linear-gradient(top, #d9a88d, #705242);
  background-image: linear-gradient(to bottom, #d9a88d, #705242);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f5e3bf;
  background-image: -webkit-linear-gradient(top, #f5e3bf, #705242);
  background-image: -moz-linear-gradient(top, #f5e3bf, #705242);
  background-image: -ms-linear-gradient(top, #f5e3bf, #705242);
  background-image: -o-linear-gradient(top, #f5e3bf, #705242);
  background-image: linear-gradient(to bottom, #f5e3bf, #705242);
  text-decoration: none;
}




#about-hide {
  display: none;
}

/*==========
Header
============*/
.hero {
  background: url('../img/ramen.jpg') no-repeat center;
  background-size: conver;
  padding-top: 100px;
  height: 300px;
  max-width: 100%;
}
/*========
Wait time
==========*/
.flexboxWait {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
/*========
form
==========*/
.flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.flexboxForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  padding-bottom: 100px;
}
#new-input{
  display: none;
}
/*=========
list items
==========*/
.flexboxList{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.wait-text {
  margin-top: 100px;
  color: black;
}

#list {
  font-size: 18pt;
  font-weight: bold;
  color: black;
  padding-left: 3%;
}

.mdl-list__item{
  line-height: 24px;
}
#currentList{
  /*display:none;*/
}
/*==========
Rating section
============*/
.rateBg{
  height: 400px;
  widht: 100%;
  background-color: #bfbfbf;
}
.flexRate{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.flexHr{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.flexStar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.star {
  font-size: 36pt;
  cursor: pointer;
}

.starOverlay{
  color: gold;
}
hr#rating {
  width: 50%;
}
