body {
  background-color: #EDDBB2;
}

hr {
  display: block;
    height: 1px;
    border-top: 1px solid black;
    margin: 1em 0;
}

img {
  height: 120px;
  width: auto;
}

#gt-header {
  margin-top: 80px;
}

.col-sm-6 {
  background-color: #82C0D9;
  width: 500px;
  height: 830px;
  border-radius: 35px;
  border-style: groove;
  border-color: white;
  padding: 30px;
  margin-right: 20px;
  margin-top: 10px;
  box-shadow: 5px 5px 5px 0px black;
}

.col-sm-3 {
  width: 500px;
}
