body {
  background-color: #EDDBB2;
}

.col-sm-6 {
  background-color: #82C0D9;
  width: 400px;
  height: 800px;
  border-radius: 35px;
  border-style: groove;
  border-color: white;
  padding: 30px;
  margin-right: 20px;
  box-shadow: 5px 5px 5px 0px black;
}
