
/*=======
body
=========*/
body{
/*  background: url("../img/food.jpg") no-repeat center center fixed;
  background-size: cover;*/
}

form {
  margin-top: 100px;
}
/*==========
nav
============*/
#search{
  margin-top: 0px;
}
/*==========
Header
============*/
.paley {
  background: url('../img/Paleys.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  height: 350px;
  max-width: 100%;
  }

.jack {
  background: url('../img/jack.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  height: 350px;
  max-width: 100%;
  }
.atuala {
  background: url('../img/Ataula.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  height: 350px;
  max-width: 100%;
  }
.ramen {
  background: url('../img/ramen.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  height: 350px;
  max-width: 100%;
}
.imperial {
  background: url('../img/imperial.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  height: 350px;
  max-width: 100%;
}
.ruth-chris {
  background: url('../img/ruth-chris.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  height: 350px;
  max-width: 100%;
}
.fish-house{
  background: url('../img/fish-house.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  height: 350px;
  max-width: 100%;
}
.screen-door {
  background: url('../img/screen_door.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  height: 350px;
  max-width: 100%;
}
.lardo {
  background: url('../img/lardo.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  height: 350px;
  max-width: 100%;
}
.home {
  background: url('../img/dining.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  height: 350px;
  max-width: 100%;
}
.pokpok {
  background: url('../img/pokpok.jpg') no-repeat center;
  background-size: cover;
  padding-top: 100px;
  height: 350px;
  max-width: 100%;
}
/*========
Wait time
==========*/
.flexboxWait {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
/*========
form
==========*/
.flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.flexboxForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  width: 100%;
  padding-bottom: 100px;
}
#new-input{
  display: none;
}
.mdl-js-textfield {
  width: 25%;
  margin-left: 5%;
}
/*========
General
==========*/
.flexbox button {
  height: 80px;
  width: 260px;
  padding: 10px;
  font-size: 1.5em;
  margin-top: 200px;
}
.flexboxForm button {
  height: 50px;
  width: 220px;
  padding: 10px;
  font-size: 1.3em;
  margin-top: 20px;
  margin-left: 35%;
}
/*=========
list items
==========*/
.flexboxList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 30px;
}
.wait-text {
  margin-top: 100px;
  color: black;
}

#list {
  font-weight: bold;
  color: black;
  padding-left: 3%;
}

.mdl-list__item{
  font-size: 1.8em;
}
#currentList{
  /*display:none;*/
}
/*==========
Rating section
============*/
.rateBg{
  height: 400px;
  widht: 100%;
  background-color: #bfbfbf;
}
.flexRate{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.flexHr{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.flexStar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.star {
  font-size: 36pt;
  cursor: pointer;
}

.starOverlay{
  color: gold;
}
hr#rating {
  width: 50%;
}

/*==========
Blog section
============*/
.mdl-card {
   width: 70%;
   margin-left: 15%;
   margin-top: 3%;
   padding: 10px;
}
