/*=========
Navbar
===========*/
header i {
  display: none !important;
}

#arrow {
  display: inline !important;
  cursor: pointer;
}

/*=========
results
===========*/
#resultsHeader {
  padding-left: 95px;
  padding-top: 50px;
}
#tipue_search_content {
  padding-left: 100px;
  padding-top: 50px;
}
